page-outfit {

	.outfit-container {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	
	.outfit-container > * {
		flex: 50%;
	}
	
	.outfit-image {
		height: 89vh;
		width: auto; 
	}
	
	.title {
		margin-top: 0px;
		padding: 5px;
		margin-bottom: 60px;
		background-color: color($colors, secondary);
		color: white;
	}
	
}
