<ion-content>
	
	<div class="outfit-container" *ngIf="outfit && products">
		
		<div text-center>
			<img class="outfit-image" [src]="outfit.main_media_url" />
		</div>
		
		<div>
			
			<div class="title">
				<h1>NIEUWE COLLECTIE</h1>
			</div>
			
			<ion-list>
			
				<ion-item icon-left no-lines class="section-header">
					<ion-icon name="information-circle"></ion-icon>
					Informatie
				</ion-item>
				<ion-item>
					<div class="main-content" style="white-space: pre-line;">
						<p>{{  outfit.description }}</p>
					</div>
				</ion-item>
			
				<ion-item icon-left no-lines class="section-header">
					<ion-icon name="shirt"></ion-icon>
					Producten
				</ion-item>
				<ion-item *ngFor="let product of products">
					<div text-wrap>{{ product.name.replace('Dameskleding', '') }}</div>
					<p text-wrap>Verkrijgbaar in: {{ getSizes(product) }}</p>
				    <p>#{{ product.id }}</p>
					<button ion-fab color="tertiary" item-end>{{ product.unit_price | currency:'EUR':'symbol' }}</button>
				</ion-item>
					
			</ion-list>
		</div>
			
	</div>
	
</ion-content>

<ion-footer>
	<common-footer text="Test"></common-footer>
</ion-footer>
